In [1]:
cd

C:\Users\divya

In [2]:
#import pandas as pd
import pandas as pd

In [3]:
#read dataset
data=pd.read_csv("data.csv")

In [4]:
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [5]:
data["is_promoted"].value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

# 1. Does older employee getting more promotion than younger employees?

In [6]:
#check the range of age
min_age=data["age"].min()
max_age=data["age"].max()
print("Min age is {} and max age is {}".format(min_age,max_age))

Min age is 20 and max age is 60

In [7]:
#consider all the employees under 40 as young and otherwise old
young_employees=data[data["age"]<=40]
old_employees=data[data["age"]>40]

In [8]:
young_employees["is_promoted"].value_counts()

0    40237
1     3909
Name: is_promoted, dtype: int64

In [9]:
#check the %ge of young employee promotion
x=3909/(40237+3909)
print(x*100)

8.854709373442669

In [10]:
old_employees["is_promoted"].value_counts()

0    9903
1     759
Name: is_promoted, dtype: int64

In [11]:
#check the %ge of old employees for promotion
x=759/(9903+759)
print(x*100)

7.118739448508722

# 2. What is the probability to get promoted, if an employee has won an award?

In [12]:
#check the count of employees who got promoted
award_winning_employees=data[data["awards_won?"]==1]
award_winning_employees["is_promoted"].value_counts("")

0    711
1    559
Name: is_promoted, dtype: int64

In [13]:
#percentage of employees getting promoted
x=599/(711+599)
print(x*100)

45.725190839694655

In [14]:
#check the count of employees who got promoted
award_winning_employees=data[data["awards_won?"]==0]
award_winning_employees["is_promoted"].value_counts()

0    49429
1     4109
Name: is_promoted, dtype: int64

In [15]:
#check percentage
x=4109/(49429+4109)
print(x*100)

7.67492248496395

# 3. What is Avg. training score of those employees who got promotion?

In [16]:
promoted_emp=data[data["is_promoted"]==1]
avg_train_score=promoted_emp["avg_training_score"].mean()
print("The Avg training score for the emp who got promotion is {0:.0f}".format(avg_train_score))

The Avg training score for the emp who got promotion is 71

# 4. What is the impact of gender in promotions?

In [17]:
#check the gender gap in total employees
data["gender"].value_counts()

m    38496
f    16312
Name: gender, dtype: int64

In [18]:
#check the gender gap in promotion
promoted_emp["gender"].value_counts()

m    3201
f    1467
Name: gender, dtype: int64

In [19]:
x=3201/38496
y=1467/16312
print(x,y)

0.08315149625935161 0.08993379107405591

# 5. What is the probability of freshers getting promoted?

In [20]:
freshers=data[data["length_of_service"]<=2]
freshers["is_promoted"].value_counts()

0    10259
1      972
Name: is_promoted, dtype: int64

In [21]:
prob=972/(10259+972)
print(prob*100)

8.654616685958509